<% layout('layouts/boilerplate') %>


<div class="row">
    <h1 class="text-center mb-3">
        Edit room
    </h1>
    <div class="col-6 offset-3">
        <form action="/rooms/<%= room._id %>?_method=PUT" method="post" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="room[title]" value="<%= room.title %>" required>
                <div class="invalid-feedback">
                    Please provide a title
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="room[location]" value="<%= room.location %>" required>
                <div class="invalid-feedback">
                    Please provide location of room
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Add images</label>
                <input type="file" name="image" id="image">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Room Rent</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">
                        ₹
                    </span>
                    <input type="text" id="price" class="form-control" value="<%= room.price %>" aria-label="price" aria-describedby="price-label" name="room[price]" required>
                    <div class="invalid-feedback">
                        Please provide room rent price per month
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Room Description</label>
                <textarea class="form-control" type="text" id="description" name="room[description]"  required> <%= room.description %> </textarea>
                <div class="invalid-feedback">
                    Please provide description about room!
                </div>
            </div>
            <div class="mb-3" style="text-align: right;">
                <button class="btn btn-danger">Update Room</button>
            </div>
        </form>

        <a href="/rooms/<%= room._id %>">Back To Room</a>

    </div>
</div>
    
