<% layout('layouts/boilerplate') %>

<head>
    <link rel="stylesheet" href="/stylesheets/rooms.css">
</head>

    <div id="map" style="width: 100%; height: 500px;"></div>

    <div class="mb-3" style="text-align: center; margin-top: 30px;">
        <a class="btn" style="margin-bottom: 30px; background-color: black; color: white; border: 0.5px solid white; font-weight: 600;" href="/rooms/new">Add Rooms for rent</a>
    </div>

    <div class="search-box">
        <div class="search-row">
            <input type="text" id="input-box" placeholder="Search locations ..." autocomplete="off">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="result-box"></div>
    </div>

    <div class="container content">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-3" id="suggested">
           
        </div>
    </div>

    <div class="mb-3" style="text-align: center; margin-top: 30px;">
        <div class="border-animation"></div>
    </div>
    

    <div class="container content">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-3">
            <% for (let room of rooms) { %>

                <div class="col">
                    <div class="card shadow-sm card-content" style="min-height: 485px; ">
                        <% let empty = "https://tse3.mm.bing.net/th?id=OIP.M2WECJFVXPA94wpCfwYjaQHaHa&pid=Api&P=0&h=180" %>
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                            src="<%= room.images.length > 0 ? room.images[0].url : empty %>" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                    </img>
                        <div class="card-body">
                            <div style="text-align: center;" class="mb-3">
                                <p class="card-title room-title"><%= room.title %></p>
                                <p class="card-text room-location"><%= room.location %></p>
                            </div>
                            <p class="card-text room-description"><%= room.description.length>150 ? room.description.substring(0,150)+' ...' : room.description %></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/rooms/<%= room.id %>" class="btn btn-sm view-room">View -></a>
                                </div>
                                <small class="text-body-secondary" ><span class="room-price">₹<%= room.price %></span><span class="month-display"> / month</span></small>
                            </div>
                        </div>
                    </div>
                </div>


                <% } %>
        </div>
    </div>


<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const rooms = { features: <%-JSON.stringify(rooms) %>}
</script>

<script src="/javascripts/clusterMaps.js"></script>

<script>
    let availableKeyWords = [];
    let suggestedRooms  = [];

    for(let i = 0 ; i < rooms.features.length ; i++)
    {
        availableKeyWords.push(rooms.features[i].location)
        suggestedRooms.push(rooms.features[i])
    }

    console.log(availableKeyWords)
    console.log(suggestedRooms);

    const resultsBox = document.querySelector(".result-box");
    const inputBox = document.getElementById("input-box");
    const suggestedBox = document.getElementById("suggested")

    inputBox.onkeyup = function(){
        let result = [];
        let resultrooms = [];
        let input = inputBox.value;

        if(input.length)
        {
            result = availableKeyWords.filter((keyword)=>{
               return keyword.toLowerCase().includes(input.toLowerCase());
            });

            resultrooms = suggestedRooms.filter((keyword)=>{
                return keyword.location.toLowerCase().includes(input.toLowerCase());
            })

            console.log(result)
            console.log(resultrooms)
        }
        display(result,resultrooms);

        if(!result.length)
        {
            resultsBox.innerHTML = '';
            suggestedBox.innerHTML = '';
        }
    }

    function display(result,resultrooms)
    {
        const content = result.map((list)=>{
            return '<li onclick=selectInput(this)>' + list + '</li>'
        });

        let empty = "https://tse3.mm.bing.net/th?id=OIP.M2WECJFVXPA94wpCfwYjaQHaHa&pid=Api&P=0&h=180";

        const roomContent = resultrooms?.map((list)=>{
            return `<div class="col">
                    <div class="card shadow-sm card-content" style="min-height: 485px; ">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                            src="${list?.images?.length >0 ? list.images[0].url : empty}"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                    </img>
                        <div class="card-body">
                            <div style="text-align: center;" class="mb-3">
                                <p class="card-title room-title">${list.title}</p>
                                <p class="card-text room-location">${list.location}</p>
                            </div>
                            <p class="card-text room-description">${list.description}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/rooms/${list.id}" class="btn btn-sm view-room">View -></a>
                                </div>
                                <small class="text-body-secondary" ><span class="room-price">₹${list.price}</span><span class="month-display"> / month</span></small>
                            </div>
                        </div>
                    </div>
                </div>`
        })

        resultsBox.innerHTML = "<ul>"+ content.join('') +"</ul>";
        suggestedBox.innerHTML = roomContent.join('');
    }

    function displaySelected(input)
    {
        let result = [];
        let resultrooms = [];

        if(input.length)
        {
            result = availableKeyWords.filter((keyword)=>{
               return keyword.toLowerCase().includes(input.toLowerCase());
            });

            resultrooms = suggestedRooms.filter((keyword)=>{
                return keyword.location.toLowerCase().includes(input.toLowerCase());
            })

            console.log(result)
            console.log(resultrooms)
        }
        display(result,resultrooms);
        
        resultsBox.innerHTML = '';
        if(!result.length)
        {
            resultsBox.innerHTML = '';
            suggestedBox.innerHTML = '';
        }
    }

    function selectInput(list)
    {
        inputBox.value = list.innerHTML
        inputBox.innerHTML = ''
        displaySelected(inputBox.value)
    }
</script>