<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/stars.css">

    <style>
        .list-group-item {
            background-color: black;
            border: none;
            color: white;
        }

        .room-title {
            color: goldenrod;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 22px;
            text-align: center;
        }

        .room-description {
            color: white;
            font-size: 15px;
            text-align: center;
        }

        .card-body {
            background-color: black;
        }

        .display-info {
            text-align: center;
            margin-bottom: 30px;
            color: white;
        }

        .carousel {
            margin-bottom: 40px;
        }

        @import url('https://fonts.googleapis.com/css?family=Roboto:300');

        .fixed,
        .animated {
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            font-family: 'Roboto';
            font-weight: 300;
            font-size: 32px;
            overflow: hidden;
            color: white;
        }

        .animated {
            width: 0px;
            animation: reveal 7s infinite;
        }

        .animated span {
            margin-left: -355px;
            animation: slidein 7s infinite;
        }

        @keyframes showup {
            0% {
                opacity: 0;
            }

            20% {
                opacity: 1;
            }

            80% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        @keyframes slidein {
            0% {
                margin-left: -800px;
            }

            20% {
                margin-left: -800px;
            }

            35% {
                margin-left: 0px;
            }

            100% {
                margin-left: 0px;
            }
        }

        @keyframes reveal {
            0% {
                opacity: 0;
                width: 0px;
            }

            20% {
                opacity: 1;
                width: 0px;
            }

            30% {
                width: 355px;
            }

            80% {
                opacity: 1;
            }

            100% {
                opacity: 0;
                width: 355px;
            }
        }

        .display-author {
            font-size: 16px; 
            margin-top: 8px;
            color: orange;
        }
    </style>

    <div class="row">
        <div class="col-6">

            <!-- Bootstrap Image carousel  -->
            <div id="roomCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <% room.images.forEach((img,i)=> { %>
                        <div class="carousel-item <%= i===0? 'active':'' %>" style="height: 400px;">
                            <img src="<%= img.url %>" class="d-block w-100" alt="..."
                                style="height: 100%; width: 100%; object-fit: contain">
                        </div>
                        <% }) %>
                </div>

                <% if(room.images.length> 1) { %>
                    <button class="carousel-control-prev" type="button" data-bs-target="#roomCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#roomCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <% } %>
            </div>

            <!-- Images of room  -->
            <div class="card mb-3">
                <!-- Room name and description  -->
                <div class="card-body">
                    <div>
                        <h5 class="card-title room-title">
                            <%= room.title %>
                        </h5>
                    </div>
                    <p class="card-text room-description">
                        <%= room.description %>
                    </p>
                </div>

                <!-- Room details  -->
                <ul class="list-group list-group-flush" style="text-align: right;">
                    <li class="list-group-item">
                        <%= room.location %>
                    </li>
                    <li class="list-group-item"> Posted by <b>
                            <%= room.author.username %>
                        </b></li>
                    <li class="list-group-item">₹ <%= room.price %> per month</li>
                </ul>

                <!-- Update and delete room buttons (only for owner of room) -->
                <% if(currentUser && room.author.equals(currentUser._id)) { %>
                    <div class="card-body" style="background-color: black;">
                        <a href="/rooms/<%=room._id%>/edit" class="card-link btn btn-outline-info">Edit Room</a>
                        <form class="d-inline" action="/rooms/<%= room._id %>?_method=DELETE" method="post">
                            <button class="btn btn-outline-danger">Delete Room</button>
                        </form>
                    </div>
                    <% } %>
            </div>
        </div>

        <div class="col-6">

            <!--  Display map  -->
            <div id='map' style='height: 300px; margin-bottom: 40px;'></div>

            <% if(currentUser) { %>
                <div class="fixed">Leave a review. </div>
                <div class="animated">
                    <span>Make your stay count.</span>
                </div>
                <!-- Form to add review  -->
                <form action="/rooms/<%=room._id%>/reviews" method="post" class="mb-3 validated-form" novalidate>

                    <!-- Starability stars form  -->
                    <fieldset class="starability-basic" style="width: 100%;">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked
                            aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>

                    <!-- Review text  -->
                    <div class="mb-3" style="margin-top: 2px;">
                        <label class="form-label" for="body" style="color: white;">Review content </label>
                        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="6"
                            required></textarea>
                        <div class="invalid-feedback" style="color: red;">
                            Please explain about your experience !
                        </div>
                    </div>

                    <!-- Submit review button -->
                    <div style="text-align: right;">
                        <button class="btn btn-outline-success">Submit your review</button>
                    </div>
                </form>
                <% }else { %>
                    <div class="display-info" style="margin-bottom: 50px;">
                        <div class="fixed">Authenticate your experience.</div><br>
                        <div class="animated">Login to review!</div>
                    </div>
                    <% } %>

                        <% if(room.reviews.length===0) { %>
                            <div class="display-info">
                                <h5>No reviews for this room !</h5>
                            </div>
                            <% } else {%>
                                <h2 style="color: white; margin-bottom: 25px;">Reviews for this room : </h2>
                                <% } %>

                                    <!-- Iterate reviews array   -->
                                    <% for(let review of room.reviews) {%>

                                        <div class="card mb-3">
                                            <div class="card-body" style="padding: 10px 20px;">

                                                <!-- Name of reviewer  -->
                                                <h6 class="card-subtitle mb-2 display-author">@<%= review.author.username %>
                                                </h6>

                                                <!-- Display stars using starability -->
                                                <div>
                                                    <p class="starability-result" data-rating="<%= review.rating %>">
                                                        Rated: <%= review.rating %> stars
                                                    </p>
                                                </div>

                                                <!-- Review text  -->
                                                <p style="font-size: 16px; color: white;">
                                                    <%= review.body %>
                                                </p>

                                                <!-- Delete review button (only for author of review) -->
                                                <% if(currentUser && review.author.equals(currentUser._id)) { %>
                                                    <form
                                                        action="/rooms/<%=room._id%>/reviews/<%=review._id%>?_method=DELETE"
                                                        method="post">
                                                        <div style="text-align: right;">
                                                            <button class="btn btn-sm btn-outline-danger"
                                                            style="margin-bottom: 5px; padding: 5px;">Delete this review</button>
                                                        </div>
                                                    </form>
                                                    <% } %>
                                            </div>
                                        </div>

                                        <% } %>
        </div>
    </div>

    <!-- Initialize values to be accessed in below scripts  -->
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const room = <%- JSON.stringify(room) %>
    </script>

    <!-- Access mapBox code from showPageMaps.js -->
    <script src="/javascripts/showPageMaps.js"></script>