<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-6 mb-3">
        
        <div class="card mb-3">
            <img src="<%= room.image %>" class="card-img-top" alt="...">

            <div class="card-body">
                <div style="text-align: center;">
                    <h5 class="card-title"><%= room.title %> </h5>
                </div>
                <p class="card-text"><%= room.description %></p>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= room.location %></li>
                <li class="list-group-item text-muted"> Posted by <b><%= room.author.username %></b></li>
                <li class="list-group-item">₹ <%= room.price %> per month</li>
            </ul>

            <% if(currentUser && room.author.equals(currentUser._id)) { %>
                <div class="card-body">
                    <a href="/rooms/<%=room._id%>/edit" class="card-link btn btn-info">Edit Room</a>
                    <form class="d-inline" action="/rooms/<%= room._id %>?_method=DELETE" method="post">
                        <button class="btn btn-danger">Delete Room</button>
                    </form>
                </div>
            <% } %>
        </div>

        <div class="card-footer text-muted" style="text-align: right;">
            3 days ago
        </div>
    </div>

    <div class="col-6">
        <h2>Leave a review</h2>

        <% if(currentUser) { %>
            <!-- Form to add review  -->
            <form action="/rooms/<%=room._id%>/reviews" method="post" class="mb-3 validated-form" novalidate>
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range"  min="1" max="5" id="rating" name="review[rating]">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Review</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                    <div class="invalid-feedback">
                        Please provide description
                    </div>
                </div>
                <div style="text-align: right;">
                    <button class="btn btn-success">Submit Review</button>
                </div>
            </form>
        <% } %>

        <!-- Iterate reviews array   -->
        <% for(let review of room.reviews) {%>

            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Rating : <%= review.rating %></h5>
                    <h6 class="card-subtitle mb-2 text-muted">By <%= review.author.username %></h6>
                    <p> Review : <%= review.body %></p>

                    <% if(currentUser && review.author.equals(currentUser._id)) { %>
                    <form action="/rooms/<%=room._id%>/reviews/<%=review._id%>?_method=DELETE" method="post">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>

        <% } %>
    </div>
</div>

